<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<array>
		<array>
			<dict>
				<key>userid</key>
				<string>1</string>
				<key>titlecontent</key>
				<string>我的缓存</string>
				<key>imagename</key>
				<string>personal_center_cache_icon</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>2</string>
				<key>titlecontent</key>
				<string>试题训练</string>
				<key>imagename</key>
				<string>personal_center_training</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>3</string>
				<key>titlecontent</key>
				<string>成长地图</string>
				<key>imagename</key>
				<string>personal_center_map</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>4</string>
				<key>titlecontent</key>
				<string>班级作业</string>
				<key>imagename</key>
				<string>personal_center_homework</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>5</string>
				<key>titlecontent</key>
				<string>我的测评</string>
				<key>imagename</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>userid</key>
				<string>6</string>
				<key>titlecontent</key>
				<string>每日签到</string>
				<key>imagename</key>
				<string></string>
			</dict>
			<dict>
				<key>userid</key>
				<string>7</string>
				<key>titlecontent</key>
				<string>错题本</string>
				<key>imagename</key>
				<string>personal_center_WT_icon</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>8</string>
				<key>titlecontent</key>
				<string>学习排名</string>
				<key>imagename</key>
				<string>personal_center_rank_icon</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>9</string>
				<key>titlecontent</key>
				<string>我的清单</string>
				<key>imagename</key>
				<string>personal_center_qingdan_icon</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10</string>
				<key>titlecontent</key>
				<string>开通会员服务</string>
				<key>imagename</key>
				<string>personal_center_huiyuan_icon</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>11</string>
				<key>titlecontent</key>
				<string>我的学习卡</string>
				<key>imagename</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>userid</key>
				<string>12</string>
				<key>titlecontent</key>
				<string>练习客服</string>
				<key>imagename</key>
				<string>personal_center_call_icon</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>13</string>
				<key>titlecontent</key>
				<string>设置</string>
				<key>imagename</key>
				<string>personal_center_setting_icon</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>14</string>
				<key>titlecontent</key>
				<string>关于</string>
				<key>imagename</key>
				<string></string>
			</dict>
		</array>
	</array>
</dict>
</plist>
